@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-off-white text-sm
  }

  body,
  h1,
  h2,
  h3,
  p,
  input {
    @apply m-0 font-normal text-gray-dark
  }

  a {
    @apply text-green no-underline
  }

  h2 {
    @apply text-lg font-bold mb-2.5
  }
}

@layer utilities {
  .-animation-delay-160 {
    animation-delay: -0.16s;
  }
  .-animation-delay-320 {
    animation-delay: -0.32s;
  }
}
