@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  :root {
    --color-off-white: 241 241 241;
    --color-green: 109 179 63;
    --color-gray-dark: 52 48 45;
    --color-gray: 85 85 85;
    --color-gray-light: 204 204 204;
    --color-th: 60 56 52;
  }

  body {
    @apply bg-off-white text-sm
  }

  body,
  h1,
  h2,
  h3,
  p,
  input {
    @apply m-0 font-normal text-gray-dark
  }

  a {
    @apply text-green no-underline
  }

  h2 {
    @apply text-lg font-bold mb-2.5
  }
}

@layer utilities {
  .-animation-delay-160 {
    animation-delay: -0.16s;
  }
  .-animation-delay-320 {
    animation-delay: -0.32s;
  }
}
